ftags
tags
cscope*
*.DS_Store
config/database.yml
db/schema.rb
log/*
tmp/*
public/system/*
public/uploads/*
public/data/*
vendor/cache
.bundle
*.log
*.json
*.swp
*.swo
rerun.txt
db/*.sql

# piv config file:
.piv
dump.rdb
